name: GitHub Stars Crawler

on: [push]

jobs:
  crawl:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - name: Setup Postgres
        env:
          POSTGRES_HOST: localhost
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: |
          psql postgresql://postgres:postgres@localhost:5432/postgres \
          -f src/db/schema.sql

      - name: Crawl Stars
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          POSTGRES_HOST: localhost
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: python -m src.main



      - name: Dump DB
        env:
          POSTGRES_HOST: localhost
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: python scripts/dump_db.py

      - uses: actions/upload-artifact@v4
        with:
          name: repositories
          path: repositories.csv
